
.lightbox {
  float:left;
};

.lightbox_overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 1001;
  outline: none;
}

.lightbox_wrapper {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 80%;
  height: 80%;
  padding: 2%;
  background-color: white;
  z-index: 1002;

  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: 50px auto;

  h1 {
    font-size: 28pt;
    @include col-start(1);
  }

  .icon {
    @include col-start(2);
    font-size: 30px;
  }

  .lightbox_content {
    @include col-start-span(1, 2);
  }
}
